<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>footer</title>
</head>
<body>
<!--footer-->
<div id="footer" th:fragment="footer">
    <div class="foot_box">
        <p class="about_us">
            <a href="#">关于我们</a>丨<a href="#">网站地图</a>丨<a href="#">免责声明</a>丨<a href="#">广告服务</a>丨<a href="#">联系我们</a>丨<a href="#">意见反馈</a>丨<a href="#">下载阅读器</a>
        </p>
        <p class="about_info"><span>XXXXXX有限责任公司</span><span>版权所有 Copyright ©2017，All Rights Reserved</span></p>
        <p class="about_info"><span>京ICP：XXXXXXX</span><span>京公网安备 XXXXXX号</span></p>
    </div>
</div>
</body>
</html>