<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>新增用户</title>

    <link rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection"/>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />

    <!-- Toastr style -->
    <link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <!-- summernote style -->
    <link th:href="@{/css/plugins/summernote/summernote.css}" rel="stylesheet" />
    <link th:href="@{/css/plugins/summernote/summernote-bs3.css}" rel="stylesheet" />


</head>

<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2><a th:href="@{/myAccount}">管理员基本信息修改</a><span> / </span><a th:href="@{/addAdmin}">添加管理员</a><span> / </span><a th:href="@{/deleteAdmin}"> 删除管理员</a></h2>

                <ol class="breadcrumb">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a>管理员管理</a>
                    </li>

                    <li class="active">
                        <strong>添加管理员</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">



            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>添加管理员</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <!--<div class="container">-->
                            <div class="card">
                                <div th:if="${session.admin.role == 'S_ADMIN'}" class="card-content">

                                    <form onsubmit="submitForm()">

                                        <div class="row">
                                            <div class="input-field col s6">
                                                <input placeholder="用户名" id="username" type="text" class="validate" name="username" required/>
                                                <label for="username">用户名</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input id="phone" name="phone" type="tel" class="validate" placeholder="联系电话" required/>
                                                <label for="phone">联系电话</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s6">
                                                <input placeholder="用户密码" id="password" type="password" class="validate" name="password" onchange="confirmPassword()" required/>
                                                <label for="password">用户密码</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input id="confirm" type="password" class="validate" placeholder="确认密码" onchange="confirmPassword()" required/>
                                                <label for="confirm">确认密码</label>
                                            </div>
                                            <script>

                                                function confirmPassword(){
                                                    var password = document.getElementById('password');
                                                    var password2 = document.getElementById('confirm');

                                                    if (password2.value === '')
                                                        return;
                                                    if (password.value === ''){
                                                        alert('密码不能为空');
                                                        return false;
                                                    }

                                                    if (password.value !== password2.value){
                                                        password2.setAttribute('class', 'invalid');
                                                        alert('密码不一致！！');
                                                        return false;
                                                    }
                                                    password2.setAttribute('class', 'valid');
                                                    return true;
                                                }
                                            </script>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s6">
                                                <input id="email" name="email" type="email" class="validate" placeholder="邮箱" required/>
                                                <label for="email">邮箱</label>
                                            </div>
                                        </div>

                                        <button onclick="submitForm()" class="waves-effect waves-light btn" type="button">添加管理员</button>
                                        <button class="waves-effect waves-light btn" type="reset">重置数据</button>
                                    </form>

                                    <div class="clearBoth"></div>
                                </div>
                                <div th:if="${session.admin.role != 'S_ADMIN'}" class="alert alert-danger">
                                    <strong>不好意思!</strong>只有超级管理员才有权限添加新的管理员
                                </div>
                                <!--</div>-->
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer" th:include="footer :: copyright"></div>
    </div>
</div>

<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- Toastr script -->
<script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>

<!-- common -->
<script th:src="@{/js/common.js}"></script>

<!-- SUMMERNOTE -->
<script th:src="@{/js/plugins/summernote/summernote.min.js}"></script>



<script>
    function submitForm() {
        if (confirmPassword()){
            var obj1= document.getElementById('username').value;
            var obj2 = document.getElementById('password').value;
            var obj3 = document.getElementById('email').value;
            var obj4 = document.getElementById('phone').value;
            $.ajax({
                url: '/addAdmin',
                type: 'POST',
                data: {username: obj1, password:obj2,email:obj3 ,phone:obj4},
                success: function (data) {
                    alert(data);
                    document.getElementsByTagName('form')[0].reset()
                }
            })
        }
    }

</script>


</body>

</html>
