<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>用户注册</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-1.11.3.min.js}"></script>
</head>
<body>
<!--header-->

<!--登录主体-->
<div id="content">
    <div class="login_main clearfix">
        <div class="login_box">
            <h1><img th:src="@{/images/login-name-icon.png}"  alt=""/><em>用户注册</em></h1>
            <form role="form" method="POST" th:action="@{/user/regist}" >
                <div class="form">
                    <span id="basic-addon0">&nbsp;</span>
                    <span style="font-size: 12px;color: red" th:text="${error}" aria-describedby="basic-addon0"></span>
                    <div class="user" style="margin-top: 10px">
                        <label for="user">账号</label>
                        <input type="text" id="user_name" name="username"  class="user_name"  aria-describedby="basic-addon1"/>
                    </div>
                    <div class="user" style="margin-top: 10px">
                        <label for="pwd">密码</label>
                        <input type="password" id="oldpassword" name="password" class="pwd_name" aria-describedby="basic-addon2" />
                    </div>
                    <div class="user" style="margin-top: 10px">
                        <label for="pwd" style="font-size: 15px">确认密码</label>
                        <input type="password" id="newpassword" name="new_password" class="pwd_name" aria-describedby="basic-addon2" />
                    </div>
                    <div class="login_sub_btn">

                        <a href="#" class="reg_btn fr">立即注册</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function () {


        $(".reg_btn").on('click',function () {
            if($("#user_name").val()==''){
                alert("用户名不能为空");
                return false;
            }else if($("#oldpassword").val()==''){
                alert("密码不能为空");
                return false;
            }
            else if($("#newpassword").val()==''){
                alert("请输入确认密码");
                return false;
            }
            else if($("#newpassword").val()!=$("#oldpassword").val()){
                alert("两次密码输入不一致");
                return false;
            }else {
                $('form').submit();
            }

        });

    });
    $(document).ready(function () {
        $(".fancybox").fancybox();
    });
</script>

</body>
</html>