<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>资源列表</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/search_list.css}"/>
</head>
<body>


<!--header-->
<div th:replace="Fragments/header :: header">...</div>
<div id="sccon">

    <div class="maincon">
        <div class="ser" style="display: none">
            <div class="form fl">
                <from id="serfrom" method="get" class="form_box fl" style="width:393px;">
                    <input type="hidden" name="sc" value="Name" id="sertype">
                    <a href="javascript:;" class="drop_toggle" style="height:88%;width:auto;"><span>书名</span><i></i></a>
                    <div class="drop_down" style="display:none;width:62px;">
                        <a href="javascript:;" data-type="Name">书名</a>
                        <a href="javascript:;" data-type="author">作者</a>
                        <a href="javascript:;" data-type="keywords">关键词</a>
                        <a href="javascript:;" data-type="ISBN">ISBN</a>
                    </div>
                    <input name="key" id="searchKey" type="text" class="ser-kw" style="width:328px;" placeholder="请输入关键词" value="">
                    <input type="hidden" name="type" value="2" id="restype">
                </from>
                <a class="ser-btnright" id="gosearchlist"><i></i></a>
            </div>


            <a class="ret-all" href="/Search/FullTextSearch">全文检索</a>
            <a class="ret-senior" href="/Search/AdvancedSearch">高级检索</a>


        </div><!--ser-->

        <div class="book_nav">

            <a id="sortdefult" title="点击后按默认方式排序" class="active act"><span> 默认排序 </span></a>


            <a title="点击后按价格排序" id="sortprice"> 定价<span class="glyphicon glyphicon-sort"></span></a>


            <a title="点击后按出版时间排序" > 出版时间<span class="glyphicon glyphicon-sort"></span></a>

            <a title="点击查看免费资源列表"  href="/Search/List?type=2&amp;isfree=true"> 免费资源</a>



        </div>


        <div class="query_result">

            <p class="query_num">共查询到<span>135</span>条记录，每页<span>6</span>条，当前显示第<span th:text="${pageInfo.pageNum}">2</span>页 共<span>23</span>页</p>
            <ul class="query_list">
                <li th:each="list : ${pageInfo.list}">
                    <a href="/Book/Detail?bookDoi=E5DDA64B-F714-466a-A7A3-389266A2122E" target="_blank" class="fl"><img width="110" height="158" th:src="${list.image}" alt=""></a>
                    <div class="bookshelf_con fr">
                        <h3><a href="/Book/Detail?bookDoi=E5DDA64B-F714-466a-A7A3-389266A2122E" th:href="@{/book/details(id=${list.id})}" th:text="${list.title}">强激光对飞行器的毁伤效应</a></h3>
                        <p th:text="${list.summary}">本书紧密结合航天飞行器的结构特点，以飞行器结构中常 用的典型材料与结构元部件为研究对象，力图对国内外相关的 研究工作进行系统地整理与总结；借助于实验数据与理论模型，研讨材料和结构在激光辐照下的毁伤模式、毁伤机理与毁伤阈 值.评估其生存能力与加固技术途径。本书可供从...</p>

                        <div class="author" th:text="${list.author}">作者：李清源</div>
                        <div class="author">关键词：激光损伤；飞行器</div>
                        <div class="author" th:text="${list.pubdate}">出版时间：2012-09</div>
                    </div>
                </li>


            </ul>
            <div class=" clear"></div>
            <div class="box">

            </div>
        </div><!--conwrap-->
        <div class=" clear"></div>
    </div>


</div>

<div class="clear"></div>
<!--footer-->
<div th:replace="Fragments/footer :: footer">...</div>

</body>
</html>