/*资讯详情页*/
#bwrap{ width:1160px; margin:0 auto; min-height:600px;}
.suoyin{ height:40px; line-height:40px; color:#333;}
.suoyin a:first-child{margin-left:0;}
.suoyin a{ color:#333;margin:0 5px;}
.suoyin a:hover,.blink a:hover,.bc1 dd a:hover,.bc1 li a:hover{ color:#2e8cf9;}
.zxcon1{ border: 1px solid #dbe3ee; border-top: 2px solid #2e8cf9; background: #f2f6f9; padding-bottom:20px;}
.zxcon1 h4{ height:2em;color: #005aaa;font-size: 24px;font-family: "微软雅黑";margin:0 auto; line-height:2em; width:1000px; text-align:center;}
.zxcon1 h5{ width:1000px; text-align:center; height:20px; line-height:20px; margin-top:0; padding-top:0px; color:#666;margin: 0 auto;}
.zxcon1 h5 span{ display:inline-block; margin-right:20px;}
.zxcon1 p{ line-height:1.5em; color:#333; text-indent:2em; margin:10px 50px;min-height:1.5em}
.zxcon1 p,.zxcon1 a,.zxcon1 span{font-size:12px}

.zxcon1 p img{ display:block; margin:0 auto; text-align:center;}

.zxcon1 p a{ display:inline-block; margin-right:20px; color:#4f9ef8; text-indent:0px;}
.zxcon1 #newsContent p{font-size:14px;}
.zxcon1 #newsContent img{max-width:60%;display:block;}
.zxlink{ height:160px; border-top:1px solid #ced8df; margin-top:6px; }

.zxlink dl{ float:left; margin:20px 130px 30px 50px;}
.zxlink dt{ font-size:14px; color:#2e8cf9; font-weight:bold; margin-bottom:10px;}
.zxlink dd{ height:18px; line-height:18px; background:url(../Images/dot5.png) left center no-repeat; padding-left:10px;  }
.zxlink dd a{ color:#333;}
#newsContent {padding:0 15px;}
#newsContent p span {display: initial;}